/* GLOBAL */

  body {
    width: 960px;
    margin: 40px auto;
    padding: 40px 120px;
  }
  p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3em;
    color: rgb(150, 143, 135);
    text-align: left;
    font-weight: 100;
  }
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.7em;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 25px;
    margin-bottom: 0px;
  }
  h2 {
    line-height: 5px;
    color: rgb(112, 97, 79);
  }
  button {   
    width: 210px;
    height: 60px; 
    background-color: rgb(213, 104, 64);
    text-transform: uppercase;
    border: none;
  }
  .thin-diagonal-lines{
    margin-top: 25px;
    width: 960px;
    height: 14px;
    background-size: 4px 4px; 
    background-image: linear-gradient(45deg, transparent 46%, rgb(170, 170, 170) 49%, rgb(170, 170, 170) 51%, transparent 55%);
  }
  .sub-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase; 
    color: rgb(185, 184, 184); 
  }
  
/* LAYOUT */

  .box-5 {
    float: left;
    width: 5%; 
  }
  .box-10 {
    float: left;
    width: 10%; 
  }
  .box-25 {
    float: left;
    width: 25%; 
  }
  .box-47 {
    float: left;
    width: 47.5%; 
  }
  .box-50 {
    float: left;
    width: 50%; 
  }
  .box-65 {
    float: left;
    width: 65%; 
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* HEADER */

  .logo{
    float: left;
    margin-right: 10px;
  }
    header p {
    display:  block;
    margin: 0;
    line-height: 27px;
  }
  header .title {
    font-family: 'Yellowtail', cursive;
    font-size: 2.7em;
    color: rgb(0, 0, 0);  
  }
  header .sub-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 0.9em;
    text-transform: uppercase; 
    color: rgb(72, 72, 72);  
  }
  header .share-links{
    text-align: right; 
    font-size: 5px;
}
  header .share-links-2{
    margin-left: 7px;
}

/* MAIN */

  .timestamp{
    text-align: left;  
    line-height: 5px;
  }
  .print{
    text-align: right; 
    font-size: 0.8em;
  }
  .main-img{
    width: 960px;
    margin-top: 20px;
  }
  .main-text{
    text-indent: 2em;
  }
 .form {
    background-image: url("../assets/list-bg.png");
    background-size: 960px 360px;  
    padding-left: 3em;
    padding-top: 42px;
    padding-bottom: 50px;
    font-family: 'Sniglet', cursive;
    font-weight: 400;
    font-size: 1.4em; 
    line-height: 38px;
    color: rgb(112, 97, 79);
  } 
  input[type="checkbox"].cust-checkbox {
    display: none; 
  }
  input[type='checkbox'].cust-checkbox ~ .check-toggle{
    height: 0.6em;
    width: 0.6em;
    display:inline-block;
    position: relative;
    padding: 0 0 0 0px;
    border-style: solid;
    border-color: rgb(179, 165, 165);
    border-radius: 5px; 
    border-width: thin;
    cursor: pointer;
    }   
  input[type='checkbox'].cust-checkbox:checked ~ .check-toggle::after {
    content: "\2714";
    position: absolute;
    font-size: 0.8em;
    color: rgb(184, 159, 159);
    left: calc(50% - 4px);
    top: calc(50% - 20px);
    }
  .label{
    margin-left: 0.5em;
    }
  .done {
    text-decoration: line-through; 
  }
  .author-img {
    margin-top: 25px;
  }
 .bio {
     margin-top: 20px;
     margin-bottom: 40px;
 }
  .share-button {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    margin: 25px;
    cursor: pointer;
  }
  

 /* FOOTER */
  footer div {
    text-align: center;
    color: rgb(182, 181, 181); 
    font-size: 1.1em;
    margin: 0;
    display:  block;
  }
 .line{
    font-size: 1.25em;
 }